<h1>Team Name!</h1>

  <h4>Team Motto: <%=@team.name %></h4>

<h1>Team motto!</h1>

  <h4>Team Motto: <%=@team.motto %></h4>

<h1>Team members!</h1>

  <% @superheroes.each do |hero| %>

    <h3>Hero Name: <%= hero.name%></h3>
    <h4>Hero Power: <%= hero.power%></h4>
    <h4>Hero Bio: <%= hero.bio%></h4>

    <% end %>
